<!DOCTYPE html>
<html>
<head>
    <title>Parent Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Register Parent Account</h1>

    <form method="POST">
        <label>Username:</label>
        <input type="text" name="username" required><br><br>

        <label>Password:</label>
        <input type="password" name="password" required><br><br>

        <button type="submit">Register</button>
    </form>

    <p>Already registered? <a href="{{ url_for('login') }}">Login here</a></p>
</body>
</html>
